test/Connected Services/ServiceReference1/ToZDCJWebServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.talent.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ToZDCJWebServiceImplService" targetNamespace="http://webservice.talent.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservice.talent.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getMaxCollectdateByEquipmentname" type="tns:getMaxCollectdateByEquipmentname" />
      <xs:element name="getMaxCollectdateByEquipmentnameResponse" type="tns:getMaxCollectdateByEquipmentnameResponse" />
      <xs:element name="saveZlItemvalueCollection" type="tns:saveZlItemvalueCollection" />
      <xs:element name="saveZlItemvalueCollectionResponse" type="tns:saveZlItemvalueCollectionResponse" />
      <xs:complexType name="saveZlItemvalueCollection">
        <xs:sequence>
          <xs:element minOccurs="0" name="equipmentname" type="xs:string" />
          <xs:element minOccurs="0" name="documentno" type="xs:string" />
          <xs:element minOccurs="0" name="itemab" type="xs:string" />
          <xs:element minOccurs="0" name="itemvalue" type="xs:string" />
          <xs:element minOccurs="0" name="collectdate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveZlItemvalueCollectionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMaxCollectdateByEquipmentname">
        <xs:sequence>
          <xs:element minOccurs="0" name="equipmentname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMaxCollectdateByEquipmentnameResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="saveZlItemvalueCollection">
    <wsdl:part name="parameters" element="tns:saveZlItemvalueCollection" />
  </wsdl:message>
  <wsdl:message name="saveZlItemvalueCollectionResponse">
    <wsdl:part name="parameters" element="tns:saveZlItemvalueCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="getMaxCollectdateByEquipmentnameResponse">
    <wsdl:part name="parameters" element="tns:getMaxCollectdateByEquipmentnameResponse" />
  </wsdl:message>
  <wsdl:message name="getMaxCollectdateByEquipmentname">
    <wsdl:part name="parameters" element="tns:getMaxCollectdateByEquipmentname" />
  </wsdl:message>
  <wsdl:portType name="ToZDCJWebService">
    <wsdl:operation name="saveZlItemvalueCollection">
      <wsdl:input name="saveZlItemvalueCollection" message="tns:saveZlItemvalueCollection" />
      <wsdl:output name="saveZlItemvalueCollectionResponse" message="tns:saveZlItemvalueCollectionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMaxCollectdateByEquipmentname">
      <wsdl:input name="getMaxCollectdateByEquipmentname" message="tns:getMaxCollectdateByEquipmentname" />
      <wsdl:output name="getMaxCollectdateByEquipmentnameResponse" message="tns:getMaxCollectdateByEquipmentnameResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ToZDCJWebServiceImplServiceSoapBinding" type="tns:ToZDCJWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saveZlItemvalueCollection">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveZlItemvalueCollection">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveZlItemvalueCollectionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxCollectdateByEquipmentname">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMaxCollectdateByEquipmentname">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMaxCollectdateByEquipmentnameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToZDCJWebServiceImplService">
    <wsdl:port name="ToZDCJWebServiceImplPort" binding="tns:ToZDCJWebServiceImplServiceSoapBinding">
      <soap:address location="http://192.168.6.162:3080/JINGYE-LES/webservice/toZDCJWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>